:root {
  --background-black: #1c1c1c;
  --background-grey: #312f30;
  --color-accent: #f6762c;
  --accent-blur: rgba(246, 118, 44, 0.5);
  --color-title: #ffffff;
  --color-subtitle: rgba(255, 255, 255, 0.7);
  --color-footer: rgba(255, 255, 255, 0.8);
}
body {
  background-color: var(--background-black);
  background-image: url(../img/bgc.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;

  color: var(--color-title);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.19;
}
.list {
  list-style: none;
    margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
}
.container{
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-subtitle);
}
.header-link:hover,
.header-link:focus{
  color: var(--color-accent);
}
.header-wrapper{
display: flex; 
justify-content: space-between; 
align-items: center;
}
.header-nav{
  display: flex;
  gap: 318px;
  align-items: center;
}
.header-list{
  display: flex;
  gap: 28px;
}
.hero{
 height: 530px;  
}
.hero-container{
  width: 546px;
}
.hero-addtext {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.1em;
  margin-top: 250px;
}
.hero-title {
  font-weight: 500;
  font-size: 57px;
  line-height: 1.18;
  margin-bottom: 37px;
}
.hero-text {
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 42px;
  color: var(--color-subtitle);
}
.food{
  padding-bottom: 102px;
}
.food-list {
  display: flex;
  gap: 30.5px;
}
.food-item {
  flex-basis: calc((100%-91.5px)/4);
  background-color: var(--background-grey);
  text-align: center;
  border-radius: 10px;
  padding-bottom: 35px;
}
.food-img {
  width: 100%;
  margin-bottom: 28px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.food-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  /* text-align: center; */

  margin-bottom: 13px;
}
.food-text {
  color: var(--color-subtitle);

  /* text-align: center;
  margin-left: 19px;
  margin-right: 19px; */
}
.king{
  padding-bottom: 43px;
  background-color: var(--background-grey);
}
.king-wrap{
  display: flex;
  gap: 158px;
}
.king-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.18;
  margin-bottom: 24px;
  margin-top: 165px;
}
.king-text {
  margin-bottom: 13px;
  color: var(--color-subtitle);
}
.king-new {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.1em;
  margin-bottom: 11px;
  color: var(--color-accent);
}
.king-old {
  font-size: 16px;
  line-height: 1.19;
  text-decoration: line-through;

  color: var(--accent-blur);
}
.product{
  padding-top: 150px;
}
.product-img {
  object-fit: cover;
}
/* .product-item {
  position: relative;
}
.product-overlay {
  position: absolute;
} */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* .product-left {
  bottom: 63px;
  left: 50px;
}
.product-right {
  bottom: 62px;
  left: 290px;
} */
.product-subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;

  margin-bottom: 20px;
}
.product-text {
  color: var(--color-subtitle);

  margin-bottom: 11px;
}
.product-price {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: var(--color-accent);
  margin-bottom: 11px;
}
.product-price > span {
  margin-left: 10px;
  text-decoration: line-through;
  color: var(--accent-blur);
}


.team{
  padding-top: 146px;
  padding-bottom: 195px;
  
}
.team-wrapper{
  width: 851px;
  display: flex;
  gap: 118px;
 margin-right: auto;
 margin-left: auto;
}
.team-wrap{
  text-align: center;
  padding-top: 99px;
}
.team-comma{
  margin-bottom: 37px;
  display: inline-block;
}
.team-text {
  margin-bottom: 27px;
  color: var(--color-subtitle);
}
.team-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 2px;
}
.team-addname {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--color-subtitle);
}
.downloud{
  padding-top: 62px;
  padding-bottom: 61px;
  background-color: var(--background-grey);
}
.downloud-wrapper{
  display: flex;
  justify-content: space-around;
}
.downloud-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
}
.mailto {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--color-footer);
}
.mailto:hover,
.mailto:focus{
  color: var(--color-accent);
}
.footer{
  padding-top: 130px;
  padding-bottom: 140px;
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
}
.social-wrapper{
  display: flex;
  gap: 10px;
}
.footer-address{
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-logo{
  margin-bottom: -12px;
  margin-top: -40px;
  margin-left: -35px;
}
.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--color-footer);
}
.footer-text:hover,
.footer-text:focus{
  color: var(--color-accent);
}
.footer-item:not(:last-child){
margin-bottom: 15px;
}
.footer-item:first-child{
  margin-bottom: 14px;
}
.footer-title {
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.footer-title:hover,
.footer-title:focus {
  color: var(--color-accent);
}
.social-handles{
  margin-bottom: 16px;
}
.icon-color{
  fill: var(--color-accent);
}
.icon-color:hover,
.icon-color:focus
{
  fill:var(--color-title);
}
.icon-gap{
  margin-right: 7px;
}
.button {
  color: inherit;
  background: var(--color-accent);
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  border: none;
  max-height: 49px;
  /* min-width: 165px; */
cursor: pointer;
}
.button:hover,
.button:focus{
  background-color: #e95702;

}
.btn-big {
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
}
.btn-small {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}
.btn-downloud{
  display: inline-block;
}
.current {
  color: var(--color-title);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}